* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../background.jpg');
  background-attachment: fixed;
  background-position: 0% 85%;
  background-size: cover;
  background-repeat: no-repeat;
}

input {
  background: transparent;
  color: black;
  resize: none;
  border: 0 none;
  outline: none;
}

.primer, pre {
  font-family: times new roman,Times,serif;
  text-align: center;
  line-height: 125%;
}

.poem-container {
  text-align: center;
  margin: 3em auto;
}

.hidden {
  display: none;
}