* {
  margin: 0;
  padding: 0;
}

html, body{
  min-height: 100%;
}

body {
  background-image: url('../img/background.jpg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input {
  background: transparent;
  color: black;
  resize: none;
  border: 0 none;
  outline: none;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  position: relative;
  margin-right: 1em;
  margin-left: 1em;
}

.buttondiv {
  text-align: center;
}

.primer, pre {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  line-height: 125%;
}

.poem-container {
  text-align: center;
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
}

.hidden {
  display: none;
}